.cocinarte-text{
    color: lightgray;
    font-family: "Lexend", sans-serif
}
.cocinarte-text:hover{
    color: #c9a669;
}
.cocinarte-text:focus{
    color: lightgray;
}
.btn-cocinarte{
    border: 2px, #c9a669, solid;
    background-color: #c9a669;
    color: #191815;
}
.btn-cocinarte:hover{
    background-color: #191815;
    color: #c9a669;
}
.form-control:focus {
    color: #ffffff;
    background-color: transparent;
    border-color: #c9a669;
    outline: 0;
    box-shadow: 0 0 0 .25rem #c9a669;
}
.exit-text{
    color: lightgray;
    font-family: "Lexend", sans-serif;
}
.exit-text:hover{
    color: rgb(255, 136, 0);
}
.nav-cocinarte{
    height: fit-content;
    padding-left: 0;
    transition: padding-left 0.5s;
}
.nav-cocinarte.sidebar{
    padding-left: 280px
}
.dropdown-menu-cocinarte{
    background-color: #191815;
    color: lightgrey;
}
.chats-cocinarte-nav{
    color: lightgrey;
    background-color: #191815;
}
.chats-cocinarte-nav:hover{
    color: #adb5bd;
    background-color: #0c0b09;
    
    border: 1px #adb5bd solid;
}
.noDecoration{
    color: white;
}
.noDecoration:hover{
    color: black;
}
.shadow-detail-nav{
    box-shadow: 0 4px 10px #5b5a58;
}
.nav-item::marker{
    content: none;
}